body {
    font-size: 62.5%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav li {
    font-size: 1.3rem;
    margin: 2rem;
}

nav a {
    color: blue;
    text-decoration: none;
}

.width25{
    width: 25%;
}

.width50{
    width: 55%;
}